/*  Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* Form */

/* Input */
/* За замовчуванням поле введення є рядковим елементом, який не успадковує сімейство шрифтів */
input {
  font-family: inherit;
}


input::placeholder {
  color: teal;
  font-weight: 700;
}

input:hover::placeholder,
input:focus::placeholder {
  color: orange;
}

/* Button */



